@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');

body{
   font-family: 'Roboto Condensed', sans-serif;
   margin: 0;
   background-color: #eee;
   height: auto;
   box-sizing: border-box;
}

h1{
   font-weight: 400;
   font-size: 2rem;
   margin: 0;
   margin-bottom: 1rem;
}

h2{
   font-weight: 400;
   font-size: 1.5rem;
   margin: 0;
}


main{
   max-width: 900px;
   margin: auto;
   box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3), 
   -30px 0px 40px  rgba(0, 0, 0, 0.3);
}

#landing{
   background:#fff;
}

#landing-text{
   display: flex;
   flex: 0 1 50vw;
   height: 50vh;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-right: 1rem;
   padding-left: 1rem;
}

#landing-text h2{
   color: #888;
}

#landing-image{
   background: url('../img/Voyage.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 50vh;
   flex: 0 1 70vw;
   margin: 0;
}

.btn{
   padding: 0.5rem 2rem;
   border: 1px #ccc solid;
   display: inline-block;
   margin: 2rem 0 0;
   border-radius: 50px;
   text-decoration: navajowhite ;
   color: #333;
   text-transform: uppercase;
   transition: background 500ms ease-in;
   transition: font-weight 200ms ease-in;
}

.btn:hover{
   background: #d4d4d4;
   font-weight: 900;
}

footer{
   max-width: 900px;
   text-align: center;
   margin: 2rem 1rem 0;
   font-weight: 900;
   margin: auto;
   padding: 0.5rem;
   background-color: #333;
   color: #fff;
}

/*Screen 500px and up*/

@media(min-width: 500px){
       #landing{
         display: flex;
         height: 100%;
       }

       #landing-text{
         height: 100vh;
       }

       #landing-image{
         height: 100vh;
       }
}

/*Screen 700px and up*/
@media(min-width: 500px){
   .btn{
      padding: 1rem 3rem;
   }
}

/*Galerie Page*/
.menu-btn{
   cursor: pointer;
   position: absolute;
   top: 20px;
   right: 30px;
   z-index: 2;
   display: none;
}

.container{
   max-width: 900px;
   margin: 0 auto;
}

.main-nav{
   max-width: 100%;
   margin: 0.4rem auto;
   box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3), 
   -30px 0px 40px  rgba(0, 0, 0, 0.3);
   padding: 1rem;
   background:#fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.main-nav .logo{
   text-decoration: none;
   color: #333;
   font-size: 1.5rem;
}

.main-nav .logo:hover{
   color: #888;
   font-weight: 900;
}


.main-nav h2{
   font-size: 1.5rem;
   font-weight: 800;
}

.main-menu{
   display: flex;
}

.main-menu a{
   color: #333;
   text-decoration: none;
   padding-bottom: 2px;
}

.main-menu a:hover{
   border-bottom: 2px #000 solid;
}

.main-menu li{
   list-style: none;
   padding: 0 10px;
}

#header{
   padding: 1.5rem;
   margin-bottom: 1.2rem;
   text-align: center;
   background: #333;
   color: #fff;
}

#header h2{
   border-left: dotted 1px #fff;
   border-right: dotted 1px #fff;
   display: inline-block;
   padding-left: 1rem;
   padding-right: 1rem;
   font-weight: 400;
   font-size: 1.2rem;
   text-transform: capitalize;
   margin: 0;
}

.caption{
   padding: 0.8rem;
   text-align: center;
}

.caption h3{
   font-size: 1.5rem;
}

.caption p{
   font-size: 1.1rem;
}

img{
   display: block;
   width: 100%;
}

@media(max-width: 700px){
   .menu-btn{
      display: block;
   }

   .menu-btn:hover{
      opacity: 0.5;
   }

   .main-nav ul.main-menu{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #f2f2f2;
      width: 50%;
      height: 100vh;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 40px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
   }

   .main-nav ul.main-menu li{
      padding: 10px;
      border-bottom: #ccc 1px solid;
      font-size: 1.2rem;
   }

   .main-nav ul.main-menu li:last-child{
      border-bottom: 0;
   }

   .main-nav ul.main-menu.show{
      transform: translateX(-20px);
   }

   .main-menu a:hover{
      border-bottom: 0;
      font-weight: 900;
   }
   
}





